.venv/
**/__pycache__/
*.pkl
*.pickle
*.png
**/dist/
**/*.egg-info/
**/.DS_Store/
**/*.pyc
*.conf
build/
.DS_Store
test-results
**/.ipynb_checkpoints
*.json
.coverage
.coveragerc
secrets/
.vscode
.pytest_cache
insecure_report.txt
reports